{
  "retainLines": true,
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "module-resolver",
      {
          "alias": {
              "modern-linq": "./index.esm.js"
          }
      }
    ]
  ]
}
